*, *::before , *::after{
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
	min-height: 100vh;
    background:white 
    width: 800px;
    height: 12000px;
}

.header{
    display: flex;
    justify-content: space-between;
    background:white;
    align-items: center;
    width: 800px;
    height: 100px;
}

.navegacion-lista{
    padding: 0;
    margin: 0;
    display: flex;


}

.navegacion-listaitem{
    padding: 2.5em;
    
    }

    .navegacion-item{
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5em;
        color: black;
        
    
    }
    .main{
        background:skyblue;
        width: 800px;
       }

       .main-titulo{
        color: white;
        text-align: center;
        font-size: 2.5em;
        font-weight:bold
        
       }

       .main-descripcion{
        color: white;
        font-size: 1.5em;
        text-align: center;
       }

       .button{
        width: 750px;
        text-align: center;
        background-color: slategray;
        border: solid 1px;
    }
   
     .recipiente2{
         width: 800px;
         
     }

     .section2{
         width: 800px;
         height: 50px;
         display: flex;
         justify-content: space-between;
     }
    .titulo2{
        color: steelblue;
        font-size: 1.5em;
    }
    
    .img1{
      width: 750px;
      height: 400px;
      
    }
     .titulo3{
         color: blue;
         font-size: 1.5em;
         text-align: center;
     }

      .frase2{
          color:gray;
          font-size: 1.5em;
          text-align: center;
      }

      .barra2-text{
        color: blue;
        font-size: 1em;
      }
      
      .barra2-elemento{
          display: flex;
      }
      .barra22-text{
        font-size: 1em;
      }
       
      .img-barra2{
          width: 50px;
          height: 50px;
      }
      .recipiente3{
        width: 800px;
        
    }
    .titulo4{
        color: blue;
        font-size: 1.5em;
        text-align: center;
    }

     .frase3{
         color:gray;
         font-size: 1.5em;
         text-align: center;
     }

     .recipiente4{
        width: 800px;
        
    }
    .titulo5{
        color: blue;
        font-size: 1.5em;
        text-align: center;
    }

     .frase4{
         color:gray;
         font-size: 1.5em;
         text-align: center;
     }

     .recipiente5{
        width: 800px;
        
    }
    .titulo6{
        color: blue;
        font-size: 1.5em;
        text-align: center;
    }

     .frase5{
         color:gray;
         font-size: 1.5em;
         text-align: center;
     }

     .titulo66{
        color: steelblue;
        font-size: 1.5em;
    }

    .recipiente6{
        width: 800px;
        
    }
    .titulo7{
        color: blue;
        font-size: 1.5em;
        text-align: center;
    }

     .frase6{
         color:gray;
         font-size: 1.5em;
         text-align: center;
     }
